<div class = "col-sm-5 col-md-4 center-block">
    <div class = "dialog">
        <div class = "panel panel-default">
            <div class = "panel-heading ">Dispact Batch</div>

            <div class = "panel-body">
                <form method = "post" action = "dispatch" data-action ="on-change">
                    <p class = "hidden error_bag alert alert-danger alert-dismissable"></p>

                    <div class = "input-group">
                        <input type = "text" class = "form-control" name = "serial">
                        <span class = "input-group-btn">
                            <input type = "submit" class = "btn btn-primary" value = "Search">
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>