<div class = "col-sm-5 col-md-4 center-block">
    <div class = "dialog">
        <div class = "panel panel-default">
            <div class = "panel-heading ">Enquire Batch</div>

            <div class = "panel-body">
                <form method = "post" action = "recieve" data-action = "on-change">
                    <p class = "hidden error_bag alert alert-danger alert-dismissable"></p>

                    <div class = "input-group">
                        <input type = "text" class = "form-control" name = "serial">
                        <span class = "input-group-btn">
                            <input type = "submit" class = "btn btn-primary" value = "Search">
                        </span>
                    </div>

                </form>
                <table id = "content_b" class = "table table-bordered hidden" jput = "batch" jput-singledata = "true">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Serial</td>
                        <td>{{json.serial}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td class = "location">{{ locate(json.location) }}</td>
                    </tr>
                    <tr>
                        <td>Vendor</td>
                        <td>{{json.vendor.name}}</td>
                    </tr>
                    <tr>
                        <td>Expiry</td>
                        <td>{{json.expiry}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{json.status}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function locate(location) {
        location = '2.714224,38.961452';
        decodeLocation(location, function (place) {
            $('.location').html(place);
        });
    }
</script>
<script src = "jput.js" type = "text/javascript"></script>
