<div class = "col-sm-5 col-md-4 center-block">
    <div class = "dialog">
        <div class = "panel panel-default">
            <div class = "panel-heading "> Sign In</div>

            <div class = "panel-body">
                <form method = "post" action = "auth">
                    <p class = "hidden error_bag alert alert-danger alert-dismissable"></p>

                    <div class = "col-md-12">
                        <label>Email or Username</label>

                        <div class = "input-group">
                            <input type = "text" class = "form-control" name = "email" value = "" required placeholder = "Username or email"/>
                            <span class = "input-group-addon"><span class = "fa fa-user"></span></span>
                        </div>
                    </div>

                    <div class = "col-md-12">
                        <label>Password</label>

                        <div class = "input-group">
                            <input type = "password" class = "form-control" name = "password" required placeholder = "Password"><br/>
                            <span class = "input-group-addon"><span class = "fa fa-unlock-alt"></span></span>
                        </div>
                    </div>

                    <div class = "col-md-12">
                        <div class = "form-group"><br>
                            <input type = "submit" value = "Sign In" class = "btn btn-default pull-right "/>
                            <label class = "remember-me"><input type = "checkbox" name = "remember"> Remember me </label>
                            <input type = "hidden" name = "_token" value = "dxqVCmezPKWMvzollEcX49LZ0sKGo69zpI5iDYkN">
                        </div>
                        <br>

                        <p><a href = "#">Forgot your password?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>