<div class = "col-sm-5 col-md-4 center-block">
    <div class = "dialog">
        <div class = "panel panel-default">

            <div class = "panel-body">
                <ul class = "menu">
                    <li>
                        <a href = "#" class = "ajax btn btn-primary" data-action = "enquire">Enquire Batch</a>
                    </li>
                    <li>
                        <a href = "#" class = "ajax btn btn-primary" data-action = "dispatch">Dispatch Batch</a>
                    </li>

                    <li>
                        <a href = "#" class = "ajax btn btn-primary" data-action = "recieve">Recieve Batch</a>
                    </li>

                    <li>
                        <a href = "#" class = "ajax btn btn-primary" data-action = "deactivate">Deactivate Batch</a>
                    </li>
                    <li>
                        <a href = "#" class = "ajax btn btn-primary" data-action = "logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>